    * {
        margin: 0;
        padding: 0;
    }

    .row {
        display: flex;
        padding: 5px 5px 5px 5px;
    }

    .col-12 {
        flex: 1 1 100%;
    }

    .col-8 {
        flex: 1 1 66.6%;
    }

    .col-6 {
        flex: 1 1 50%;
    }

    .col-3 {
        flex: 1 1 25%;
    }

    a:link {
        color: #00BBDD;
    }

    a:hover {
        color: #00BBDD;
    }